# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/app/google-services.json
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat

# iOS
ios/GoogleService-Info.plist
ios/.symlinks
ios/Pods/
ios/Runner.xcworkspace/xcshareddata/

# Firebase
lib/firebase_options.dart
firebase.json
# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
*.orig
